# Database
MONGODB_URI=mongodb+srv://kimclarat23_db_user:qFYOTf3BfF6zDWQE@final.y7h2fks.mongodb.net/?appName=final

# JWT
JWT_SECRET=ridra-super-secret-key-2024
JWT_EXPIRES_IN=7d

# Server
PORT=3001
NODE_ENV=development

# Admin credentials (for initial setup)
ADMIN_EMAIL=admin@ridra.com
ADMIN_PASSWORD=admin123